<!DOCTYPE html>
<html>

<h1 align="center"><%=@assignment.title%></h1>
<br>
<h3 align="center"><%=@assignment.description%></h3>
<br>

<br><br><br>

<table border="0" bordercolor="000000" width="100%">
	<tr>
		<td align="center">Pre-test</td>
		<td align="center">Coding<br>Time</td>
		<td align="center">Peer <br>Comments</td>
		<td align="center">Discussion I</td>
		<td align="center">Discussion II</td>
		<td align="center">Share</td>
		<td align="center">Post-test</td>
	</tr>
	<tr>
		<%=form_for(@assignment) do |f|%>
			<%if @assignment.phase == 0%>
				<td align="center"><%=f.radio_button :phase, 0, :item_wrapper_class => 'inline'%></td>
			<%else%>
				<td align="center"><%=f.radio_button :phase, 0, :item_wrapper_class => 'inline', :disabled => true%></td>
			<%end%>

			<%if @assignment.phase == 1%>
				<td align="center"><%=f.radio_button :phase, 1, :item_wrapper_class => 'inline'%></td>
			<%else%>
				<td align="center"><%=f.radio_button :phase, 1, :item_wrapper_class => 'inline', :disabled => true%></td>
			<%end%>

			<%if @assignment.phase == 2%>
				<td align="center"><%=f.radio_button :phase, 2, :item_wrapper_class => 'inline'%></td>
			<%else%>
				<td align="center"><%=f.radio_button :phase, 2, :item_wrapper_class => 'inline', :disabled => true%></td>
			<%end%>

			<%if @assignment.phase == 3%>
				<td align="center"><%=f.radio_button :phase, 3, :item_wrapper_class => 'inline'%></td>
			<%else%>
				<td align="center"><%=f.radio_button :phase, 3, :item_wrapper_class => 'inline', :disabled => true%></td>
			<%end%>

			<%if @assignment.phase == 4%>
				<td align="center"><%=f.radio_button :phase, 4, :item_wrapper_class => 'inline'%></td>
			<%else%>
				<td align="center"><%=f.radio_button :phase, 4, :item_wrapper_class => 'inline', :disabled => true%></td>
			<%end%>

			<%if @assignment.phase == 5%>
				<td align="center"><%=f.radio_button :phase, 5, :item_wrapper_class => 'inline'%></td>
			<%else%>
				<td align="center"><%=f.radio_button :phase, 5, :item_wrapper_class => 'inline', :disabled => true%></td>
			<%end%>

			<%if @assignment.phase == 6%>
				<td align="center"><%=f.radio_button :phase, 6, :item_wrapper_class => 'inline'%></td>
			<%else%>
				<td align="center"><%=f.radio_button :phase, 6, :item_wrapper_class => 'inline', :disabled => true%></td>
			<%end%>
			
		<%end%>
	</tr>
</table>




<br><br>
<%# previous phase button unclickable in pretest phase and next phase changes to "complete assignment" in postest phase%>
<%if @assignment.phase != 0 && @assignment.phase != 2%>
	<%= button_to 'Previous Phase', {:action => "backward_phase", :id => @assignment.id }, {:class => "previous_phase"} %>
<%elsif @assignment.phase == 2%>
	<%= button_to 'Previous Phase', { action: "backward_phase", id: @assignment.id , :class => "previous_phase"}, method: :backward_phase, data: { confirm: "This will delete all current pairs. Are you sure you want to proceed?" }%>
<%end%>



<%if @assignment.phase != 6%>
	<%= button_to 'Next Phase', {:action => "forward_phase", :id => @assignment.id }, {:class => "next_phase"} %>
<%else%>
	<%= button_to 'Complete Assignment', {:action => "forward_phase", :id => @assignment.id }, {:class => "next_phase"} %>
<%end%>

<br>

<%if @assignment.phase == 5%>
	<%= render 'solution'%>
<%else%>

<br><br><br><br>

	<body>

	<h3 align="center">Time Elapsed</h3>

	<br>

	<div align="center", id="time-elapsed"></div>

	<div align="center">
		<button id="pause-timer"> | | </button><button id="restart-timer">↺</button>
	</div>

	<script>

		var startTime = Date.now();
		var paused = 0;
		var updateDuration = 1000;  // one second

		// Cache the jq objects
		var $timeElapsed = $('#time-elapsed');
		var $pauseTimer = $('#pause-timer');
		var $restartTimer = $('#restart-timer');

		setInterval(function() {
		    var elapsed = Math.round((Date.now() - startTime) / 1000);  // seconds elapsed
		    var hh = Math.floor(elapsed / 3600);
		    var mm = Math.floor((elapsed - 3600 * hh) / 60);
		    var ss = elapsed - 3600 * hh - 60 * mm;

		    if (!paused) {
		        $timeElapsed.html(zeroPad(mm) + ':' + zeroPad(ss));
		    }
		}, updateDuration);

		function zeroPad(num) {
	    	return '00'.substr(0, Math.max(0, 2 - num.toString().length)) + num;
		}

		$pauseTimer.on('click', function() {
	    	if (paused) {
	        	startTime = Date.now() - paused;
	        	paused = 0;
		    } else {
		        paused = Date.now() - startTime;
		    }
		});

		$restartTimer.on('click', function() {
		    startTime = Date.now();
		    paused = 0;
		});

	</script>

	</body>

<%end%>

</html>

<br><br><br>