<h1>Pair 1</h1>
<h3><%=@assignment.title%></h3>
<h5><%=@assignment.description%></h5>

<table>
	<td>
		<div class="field">
			<% @my_pair = Pair.find(User.find(current_user.id).pairs.where(assignment_id: @assignment.id))%>
			<% @my_partner = User.find(@my_pair.users.where.not(id: current_user.id))%>
			<% @partner_submission = Submission.find(Submission.where(assignment_id: @assignment.id, user_id: @my_partner.id))%>
			<div id="editor1" style="height: 450px; width: 525px"><%= @partner_submission.content%></div>
			<br><br>
		</div>
	</td>

	<td valign="top">
		<table>
		   <tr>
		      <td>

		      	<%length = @partner_submission.length%>
		      	<%for i in 1..length%>
			      	<% if !current_user.admin?
			      			@comment = Comment.where(user_id: current_user.id, submission_id: @partner_submission.id, line_number: i)
			      			if @comment.empty?
						        @comment = Comment.create(user_id: current_user.id, submission_id: @partner_submission.id, line_number: i)
						    else
						    	@comment = Comment.find(Comment.where(user_id: current_user.id, submission_id: @partner_submission.id, line_number: i))
						    end
					    end%>
			         <div style="border: 1px solid black; background-color: #ffffff; padding: 5px;">
			            +
			        </div>
			        <div>
				        <%=form_for(@comment, remote: true, html: {id: "comment_form"}) do |f|%>
				            	<%=f.text_field :content%>
				        <%end%>
				    </div>

			    <%end%>
		      </td>
		  </tr>
		</table>
	</td>
</table>


<script src="ace.js" type="text/javascript" charset="utf-8"></script>

<br><br><br>


<script>
  var editor1 = ace.edit("editor1");
  editor1.setTheme("ace/theme/chrome");
  editor1.getSession().setMode("ace/mode/java");
  editor1.setReadOnly(true);
    
</script>
