<h1 align="center">Discussion I</h1>
<h3><%=@assignment.title%></h3>
<h4><%=safe_join(@assignment.description.split("\r\n"), "<br />".html_safe)%></h4>


<% @my_pair = Pair.find(User.find(current_user.id).pairs.where(assignment_id: @assignment.id))%>
<% @my_partner = User.find(@my_pair.users.where.not(id: current_user.id))%>
<% @current_partner = User.find(@my_pair.partner_1)%>
<% @current_partner_submission = Submission.find(Submission.where(assignment_id: @assignment.id, user_id: @current_partner.id))%>


<table>
	<td>
		<%if @current_partner == current_user%>
			<strong>Your Code</strong>
		<%else%>
			<strong>Your Partner's Code</strong>
		<%end%>
		<div class="field">
			<div id="editor1" style="height: 450px; width: 570px"><%= @current_partner_submission.content%></div>
			<br><br>
		</div>
	</td>

	<td valign="top">
		<strong>&nbsp;</strong>
		<table>
		   <tr>
		      <td>
		      	<%length = @current_partner_submission.length%>
		      	<%for i in 1..length%>
			      	<% if !current_user.admin?
			      			@comment = Comment.where(submission_id: @current_partner_submission.id, line_number: i)
					    end%>
						<%if current_user == @current_partner && @comment.exists?%>
		         			<div><%= link_to "+", "#", class: "btn btn-default btn-xs start-conversation", id: @comment.first.id, "data-sid" => current_user.id, "data-rip" => @my_partner.id , "data-comid" => @comment.first.id, "data-cid" => ""%></div>
			         	<%elsif !@comment.exists?%>
			         		<div></div>
			         	<%else%>
			         		<div id="zoom", style="border: 1px solid black; background-color: #ffffff; padding: 0px; padding-right: 5px; padding-left: 5px;" >
			             		ϟ 
			        		</div>
			        	<%end%>
			    <%end%>
			  </td>
		  </tr>
		</table>
	</td>

	<td valign="top">
		<strong>Discussion</strong>
		<table>
		   <tr>
		      <td>
			    <% @comments = Comment.where(submission_id: @current_partner_submission.id).order('line_number ASC')%>
			    <%=form_for(@current_partner_submission, html: {id: "comment_form"}) do |f|%>
			    	<%@comments.each do |comment|%>
			    		<%=f.fields_for :comments, comment do |c|%>
			    			<div>
				    			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					            <%= c.text_field :content, :size=>"81", :maxlength=>"94", :class => "lightning", :readonly => true%>
				        	</div>
				        	<div class="chat_<%=comment.id%>">
				        	</div>
				        <%end%>

				    <%end%>

				<%end%>
			</td>
			<td>
			  	<%if @my_partner.name == "No Partner"%>
			  		<h3 align="center">&nbsp;&nbsp;&nbsp;You do not have a partner. There are an odd number of students in class today.</h3>
			  	<%end%>
			</td>
		  </tr>
		</table>
	</td>


</table>


<script src="ace.js" type="text/javascript" charset="utf-8"></script>

<br><br><br>


<script>
  var editor1 = ace.edit("editor1");
  editor1.setTheme("ace/theme/twilight");
  editor1.getSession().setMode("ace/mode/java");
  editor1.setOptions({
    fontSize: "11pt"
  });
  editor1.setOptions({
    maxLines: Infinity
  });
  editor1.setOptions({
    minLines: 25
  });
  editor1.setReadOnly(true);
    
</script>



