<h1 align="center">Post-test</h1>
<h3><%=@assignment.title%></h3>
<h4><%=@assignment.posttest%></h4>
<br><br>

<%=form_for(@submission, remote: true, html: {id: "submission_form"}) do |f|%>
	<%= f.text_area :posttest, cols: 75, rows: 10 %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%end%>
