<h1><%=@assignment.title%></h1>
<h3><%=@assignment.posttest%></h3>

<%=form_for(@submission, remote: true, html: {id: "submission_form"}) do |f|%>
	<%= f.text_area :posttest%>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%end%>
