<h1 align="center">Review</h1>
<h3><%=@assignment.title%></h3>
<h4><%=@assignment.description%></h4>
<br><br>

<table class="table table-bordered"> 
  
  <thead> <%#table header%>
    <tr>
      <th style="width: 20%">Student Name</th>
      <th style="width: 25%">Student Email</th> 
      <th style="width: 16%">Partner Name</th>
      <th style="width: 16%">Pre-test Answer</th>
      <th style="width: 16%">Post-test Answer</th>
      <th style="width: 16%">Classwork</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %> <%#table content: each row contains...%>
      <% @my_submission = Submission.where(user_id: user.id, assignment_id: @assignment.id)%>
      <% if User.find(user.id).pairs.where(assignment_id: @assignment.id).exists?%>
        <% @my_pair = Pair.find(User.find(user.id).pairs.where(assignment_id: @assignment.id))%>
        <% @my_partner = User.find(@my_pair.users.where.not(id: user.id))%>
      <%end%>

      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%if !@my_partner.nil?%> 
            <%= @my_partner.name %>
          <%end%>
        </td>
        <td>
          <%if !@my_submission.empty?%> 
            <%= Submission.find(@my_submission).pretest %>
          <%end%>
        </td> 
        <td>
          <%if !@my_submission.empty?%> 
            <%= Submission.find(@my_submission).posttest %>
          <%end%>
        </td> 
        <td><%= link_to 'Review', {:controller => "assignments", :action => "studentreview", :assignment => @assignment.id, :user => user.id}%> </td>       
      </tr>

    <% end %>
  </tbody>

</table>

<%#= link_to "Back", :back %>