<h1 align="center">Review</h1>
<h3><%=@assignment.title%></h3>
<h4><%=@assignment.description%></h4>
<br><br>

<% if User.find(@user.id).pairs.where(assignment_id: @assignment.id).exists?%>
    <% @my_pair = Pair.find(User.find(@user.id).pairs.where(assignment_id: @assignment.id))%>
    <% @my_partner = User.find(@my_pair.users.where.not(id: @user.id))%>
<%end%>
<%if Submission.where(user_id: @user.id, assignment_id: @assignment.id).exists?%>
    <% @my_submission = Submission.find(Submission.where(user_id: @user.id, assignment_id: @assignment.id))%>
<%else%>
    <% @my_submission = Submission.create(user_id: @user.id, assignment_id: @assignment.id)%>
<%end%>




<table>
  <tr>
    <td>
        <strong>Your Code</strong>
        <div class="field">
            <div id="editor1" style="height: 450px; width: 525px"><%= @my_submission.content%></div>
            <br><br>
        </div>
    </td>

    <td valign="top">
      <strong>&nbsp;<strong>
        <table>
           <tr>
            <%length = @my_submission.length%>
            <%for i in 1..length%>
              <%if !@user.admin?
                  @comment = Comment.where(submission_id: @my_submission.id, line_number: i)
              end%>
            <%if @comment.exists? && !@my_pair.nil?%>
              <% if Conversation.between(@user.id, @my_partner.id, @comment.first.id).present?%>
                <div><%= link_to "+", "#", class: "btn btn-default btn-xs start-conversation", id: @comment.first.id, "data-sid" => @user.id, "data-rip" => @my_partner.id , "data-comid" => @comment.first.id, "data-cid" => Conversation.between(@user.id,@my_partner.id,@comment.first.id).first.id%></div>
              <%else%>
                    <div><%= link_to "+", "#", class: "btn btn-default btn-xs start-conversation", id: @comment.first.id, "data-sid" => @user.id, "data-rip" => @my_partner.id , "data-comid" => @comment.first.id%></div>
              <%end%>
            <%else%>
              <div>&nbsp;&nbsp;&nbsp;</div>
            <%end%>
          <%end%>
          </tr>
        </table>
    </td>

    <td valign="top">
      <strong>Your Comments/Discussions</strong>
        <table>
           <tr>
              <td>
                <% @comments = Comment.where(submission_id: @my_submission.id).order('line_number ASC')%>
                <%=form_for(@my_submission, remote: true, html: {id: "comment_form"}) do |f|%>
                    <%@comments.each do |comment|%>
                        <%=f.fields_for :comments, comment do |c|%>
                            <div>
                                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                <%= c.text_field :content, :size=>"81", :maxlength=>"94", :class => "lightning", :readonly => true%>
                            </div>
                            <div class="chat_<%=comment.id%>">
                            </div>
                        <%end%>

                    <%end%>

                <%end%>
                <%if @comments.empty?%>
                  <h3>There were no comments on your submission.</h3>
                <%end%>
            </td>
          </tr>
        </table>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Solution</strong>
        <div class="field">
            <div id="editor2" style="height: 450px; width: 525px"><%= @assignment.solution%></div>
            <br><br>
        </div>
    </td>
    <td>
      <div></div>
    </td>
    <td valign="top">
      <strong>Your Notes</strong>
      <%if Note.where(submission_id: @my_submission.id).exists?%>
              <% @my_notes = Note.find(Note.where(submission_id: @my_submission.id))%>
            <%else%>
              <% @my_notes = Note.create(submission_id: @my_submission.id, content: "You did not take any notes.")%>
      <%end%>
      <%=form_for(@my_notes) do |f|%>
              <div>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <%= f.text_area :content, :class => "notes", :readonly => true, :rows => 24%>
              </div>
      <%end%>
    </td>
  </tr>



</table>


<script src="ace.js" type="text/javascript" charset="utf-8"></script>

<br><br><br>


<script>
  var editor1 = ace.edit("editor1");
  editor1.setTheme("ace/theme/twilight");
  editor1.getSession().setMode("ace/mode/java");
  editor1.setOptions({
    fontSize: "11pt"
  });
  editor1.setOptions({
    maxLines: Infinity
  });
  editor1.setOptions({
    minLines: 25
  });
  editor1.setReadOnly(true);


  var editor2 = ace.edit("editor2");
  editor2.setTheme("ace/theme/twilight");
  editor2.getSession().setMode("ace/mode/java");
  editor2.setOptions({
    fontSize: "11pt"
  });
  editor2.setOptions({
    maxLines: Infinity
  });
  editor2.setOptions({
    minLines: 25
  });
  editor2.setReadOnly(true);
    
</script>





