<h1 align="center">Review</h1>
<h3><%=@assignment.title%></h3>
<br>
<h4><%=@assignment.description%></h4>
<br>

<% @my_pair = Pair.find(User.find(@user.id).pairs.where(assignment_id: @assignment.id))%>
<% @my_partner = User.find(@my_pair.users.where.not(id: @user.id))%>
<%if Submission.where(user_id: @user.id, assignment_id: @assignment.id).exists?%>
    <% @my_submission = Submission.find(Submission.where(user_id: @user.id, assignment_id: @assignment.id))%>
<%else%>
    <% @my_submission = Submission.create(user_id: @user.id, assignment_id: @assignment.id)%>
<%end%>




<table>
    <td>
        <div class="field">
            <div id="editor1" style="height: 450px; width: 525px"><%= @my_submission.content%></div>
            <br><br>
        </div>
    </td>

    <td valign="top">
        <table>
           <tr>
              <td>
                <%length = @my_submission.length%>
                <%for i in 1..length%>
                    <% if !@user.admin?
                            @comment = Comment.where(submission_id: @my_submission.id, line_number: i)
                        end%>
                    <div><%= link_to "+", "#", class: "btn btn-default btn-xs start-conversation", "data-sid" => @user.id, "data-rip" => @my_partner.id , "data-comid" => @comment.first.id%></div>
                <%end%>
              </td>
          </tr>
        </table>
    </td>

    <td valign="top">
        <table>
           <tr>
              <td>
                <% @comments = Comment.where(submission_id: @my_submission.id).order('line_number ASC')%>
                <%=form_for(@my_submission, remote: true, html: {id: "comment_form"}) do |f|%>
                    <%@comments.each do |comment|%>
                        <%=f.fields_for :comments, comment do |c|%>
                            <div>
                                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                <%= c.text_field :content, :size=>"81", :maxlength=>"94", :class => "lightning", :readonly => true%>
                            </div>
                            <div class="chat_<%=comment.id%>">
                            </div>
                        <%end%>

                    <%end%>

                <%end%>
            </td>
          </tr>
        </table>
    </td>


</table>


<script src="ace.js" type="text/javascript" charset="utf-8"></script>

<br><br><br>


<script>
  var editor1 = ace.edit("editor1");
  editor1.setTheme("ace/theme/twilight");
  editor1.getSession().setMode("ace/mode/java");
  editor1.setOptions({
    fontSize: "11pt"
  });
  editor1.setReadOnly(true);
    
</script>





