
<div class="chatboxcontent">
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>
</div>

<% phase = @conversation.comment.submission.assignment.phase%>
<% if phase < 5%>
	<div class="chatboxinput">
	  <%= form_for([@conversation, @message], remote: true, html: {id: "conversation_form_#{@conversation.id}"}) do |f| %>
	      <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id %>
	      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	  <% end %>
	</div>
<%end%>
 
<%= subscribe_to conversation_path(@conversation) %>