<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>Java Programming</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="custom.css.scss">
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="col-md-12">

	        <div class="navbar-header">
	          <a class="navbar-brand">COSI 11a: Introduction to Java</a>
	          <a class="navbar-nickname">Logged in as: <%= 
	            if current_user.nil?
	              "not logged in"
	              else
	                current_user.name 
	            end %></a>
	        </div>



	        <nav> <%# navigation bar %>
	          <ul class="nav navbar-nav navbar-right"> 

	            <li><a href="<%= root_path %>"><%= 'Home' %></a></li>
	            
	            <li><a <%=link_to 'Sign out', destroy_user_session_path, :method => :delete%></a></li>
	          </ul>
	        </nav>
      	
      	</div>

       </div>
    </header>

    </body>
    <% if current_user %>
      <script type="text/javascript">
          channel = <%= raw ('"' + '/notifications' + current_user.id.to_s + '"') %>
          PrivatePub.subscribe(channel, function(data) {
   

          var sender_id = data.sid;
          var recipient_id = data.rip;
          var conversation_id = data.cid;
          var comment_id = data.comid;


          $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id, comment_id: comment_id }, function (data) {
              chatBox.chatWith(comment_id, conversation_id);
          });

          });
      </script>
      <%= subscribe_to "/notifications" + current_user.id.to_s %>
    <% end %>





<%= yield %>

</body>
</html>
